
/*Reset */
*, *::before, *::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fbf9;     
  color: #333;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit; 
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Main structure of page  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app{
 display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.header {
  width: 100%;
  border-bottom: 1px solid #e0e0e0; 
  background-color: #fff;
}


.footer {
  width: 100%;
  border-top: 1px solid #e0e0e0; 
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}


.container {
  max-width: 1200px; 
  margin: 0 auto;   
  padding: 0 40px;  
}
main {
  flex: 1;
}
/*Header*/
.header-logo{
    display: flex;
    align-items: center;

}
.logo-icon{
    background-color: #38795e;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;

}


.logo-text{
    display: flex;
    flex-direction: column;
  
}
.logo-text-title{

}
.logo-text-description{
    font-size: 11px;
    color: #8b8b8b;
}
/*Main section*/
.main-container{
    display: flex;
    flex-direction: column;
    
}
.hero-section{
  text-align: center;
  margin-top: 20px;
}
.hero-section-description{
    font-size: 12px;
    max-width: 450px;
}
